In [1]:
# magic command
%matplotlib inline

In [2]:
# imports 
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# files used
city_data = "Resources/city_data.csv"
ride_data = "Resources/ride_data.csv"

In [4]:
# reading csv files and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data)
ride_data_df = pd.read_csv(ride_data)

In [9]:
# checking for missing values in city_data_df
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [10]:
# checking data types
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [11]:
# checking unique data
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [15]:
# counting # of Urban cities
sum(city_data_df["type"]=="Urban")
#sum(city_data_df["type"]=="Rural")

66

In [19]:
# checking for missing values in ride_data_df
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [20]:
# checking data types for ride
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [21]:
# mergin two DFs
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# show merged df
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban